/* reset */

/* END reset*/
/* layout */
body{
  font-family: "microsoft yahei";
}
html{
  width:100%;
}

/* END layout */

/* common */
.title-bar{
  height:1.3rem;
  background-color: inherit;
  box-shadow: none;
}
.title-bar .titleBar-btn{
  width:0.34rem;
  height:0.62rem;
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin:0.34rem 0;
}

.title-bar h1{
  font-size: 0.52rem;
  line-height: 1.3rem;
}

.option-bar{
  padding-top:0.26rem;
}
.option-bar img{
  width:0.62rem;
  display: block;
  margin:0 auto;
}
.option-bar span{
  font-size:0.3rem;
  color:#a2a2a2;
}
.option-bar span.on{
  color:#a28754;
}
.option-bar.mui-bar-tab .mui-tab-item {
  color: #a2a2a2;
}

.option-bar.mui-bar-tab .mui-tab-item.mui-active{
  color:#604c47;
}

.mui-bar-nav~.mui-content{
  margin-top:1.3rem;
  padding-top:0;
}

.mui-table-view:before, 
.mui-table-view:after,
.mui-table-view-cell:after{
  height:0;
}
/* END common */
/* order */
.order{
  width:100%;
  background-color: #ebebeb;
}
.order .title-bar{
  background-color: #fff;
}
.order .nav{
  border-top:1px solid #a0a0a0;
  margin-top:1.3rem;
  background-color:#fff;
  border-bottom: 1px solid #ebebeb;
}
.order .nav .unit{
  width:20vw;
}
.order .nav .unit a{
  font-size: 14px;
  line-height: 1.2rem;
  padding:0 0.1rem;
  display: inline-block;
  color:#323232;
  position: relative;
}
.order .nav .unit a .point{
  display: block;
  width:6px;
  height:6px;
  border-radius: 50%;
  background-color: #d30000;
  position: absolute;
  top:0.2rem;
  right:0;
}
.order .nav .unit a.on{
  color:#d30000;
}
.order .nav .unit a .bottom{
  position: absolute;
  bottom:0;
  left:0;
  height:2px;
  width:100%;
  background-color: #fff;
}
.order .nav .unit a.on .bottom{
  background-color: #d30000;
}
.order .default .unit{
  padding:0;
  border-bottom: 0.3rem solid #ebebeb;
}
.order .default .unit .line{
  padding:0.3rem 0.4rem;
}
.order .default .top .choice{
  display: inline-block;
  width:0.4rem;
  height:0.4rem;
  border: 1px solid #999;
  padding:0;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.2rem;
}
.order .default .top .storeName{
  font-size: 14px;
  line-height: 0.4rem;
  padding-left:0.6rem;
  background:url(../images/account/icon_bag.png) no-repeat left center;
  background-size: auto 100%;
  height:0.4rem;
  color:#333;
}
.order .default .top .storeName span{
  color:#d2d2d2;
}
.order .default .top .stat{
  font-size:14px;
  line-height: 0.4rem;
  color:#d30000;
}
.order .default .mid{
  background-color: #f3f3f3;
}
.order .default .mid .table-row{
  display: table-row;
}
.order .default .mid .view{
  width:3.1rem;
  vertical-align: middle;
}
.order .default .mid .view img{
  margin:0.4rem;
  width:2.3rem;
  vertical-align: middle;
}
.order .default .mid .trade{
  vertical-align: middle;
}
.order .default .mid .trade .name{
  font-size:12px;
  line-height: 0.52rem;
  font-weight: normal;
  color:#333;
}
.order .default .mid .trade .style{
  font-size: 12px;
  color:#ccc;
}
.order .default .mid .count{
  vertical-align: middle;
  text-align: right;
  width:2.3rem;
}
.order .default .mid .count .price{
  font-size: 14px;
  color:#333;
  margin-right:0.4rem;
}
.order .default .mid .count .num{
  font-size: 12px;
  color:#999;
  margin-right:0.4rem;
}
.order .default .sum{
  padding:0 0.4rem;
  font-size:14px;
  line-height: 1rem;
  height: 1rem;
  border-bottom: 1px solid #dcdada;
}
.order .default .operate .btn{
  font-size: 12px;
  line-height: 0.8rem;
  border-radius: 0.4rem;
  padding:0 0.3rem;
  margin-left:0.3rem;
  color:#535353;
  border-color:#cecece;
}
.order .default .operate .btn.relax{
  padding:0 0.6rem;
}
.order .default .operate .btn.noborder{
  border:none;
}
.order .default .operate .btn.red{
  color:#d30000;
  border-color:#d30000;
}
.order .empty{
}
.order .empty .row{
  display: table-row;
}
.order .empty .box{
  padding-top:6rem;
}
.order .empty img{
  display: block;
  width:3.8rem;
  margin:0 auto;
  height: 3.8rem;
}
.order .empty .hint{
  font-size: 14px;
  line-height: 1.5rem;
  color:#604c47;
}

/* END order */

/* distcount coupon */
#dc{
  background-color: #ebebeb;
}
#dc .title-bar{
  background-color: #fff;
}
#dc .nav{
  border-top:1px solid #a0a0a0;
  margin-top:1.3rem;
  background-color:#fff;
}
#dc .nav .unit{
  width:25vw;
}
#dc .nav .unit a{
  font-size: 0.42rem;
  line-height: 1.2rem;
  padding:0 0.1rem;
  display: inline-block;
  color:#323232;
  position: relative;
}
#dc .nav .unit a .point{
  display: block;
  width:6px;
  height:6px;
  border-radius: 50%;
  background-color: #d30000;
  position: absolute;
  top:0.2rem;
  right:0;
}
#dc .nav .unit a.on{
  color:#d30000;
}
#dc .nav .unit a .bottom{
  position: absolute;
  bottom:0;
  left:0;
  height:4px;
  width:100%;
  background-color: #fff;
}
#dc .nav .unit a.on .bottom{
  background-color: #d30000;
}
#dc .default{
  padding:0 0.4rem;
}
#dc .default .list{
  background-color: #ebebeb;
}
#dc .default .unit{
  padding-top:0.65rem;
}

#dc .default .ticket,
#dc .default .info,
#dc .default .use{
  background-color:#fff;
  vertical-align: middle;
}
#dc .default .ticket{
  width:2.76rem;
  position: relative;
  border-right: 1px dashed #c6c5c5;
  height:2.25rem;
}
#dc .default .ticket img{
  position: absolute;
  width:2.76rem;
  height:0.23rem;
  top:-0.23rem;
  left:0;
}
#dc .default .ticket p{
  padding:0;
  font-size: 0.32rem;
  letter-spacing: 0.1rem;
  color:#d30000;
}
#dc .default .ticket .price{
  font-size: 0.6rem;
  line-height: 0.8rem;
  font-weight: bold;
}
#dc .default .info .name{
  font-size: 0.44rem;
  padding-left:0.67rem;
  color:#333;
}
#dc .default .info .indate{
  font-size:0.3rem;
  padding-left:0.67rem;
  color:#999;
}
#dc .default .use{
  width:3.5rem;
}
#dc .default .use button.toUse{
  font-size: 0.34rem;
  color:#fff;
  height:0.7rem;
  background-color: #df4d4d;
  border:none;
  line-height: 0.7rem;
  padding:0 0.7rem;
  margin:0 auto;
  display: inline-block;
  border-radius: 0.35rem;
}
#dc .default .nomore{
  font-size: 0.4rem;
  text-align: center;
  color:#d5d5d5;
}

#dc .default.will .unit{
  padding-top:0.3rem;
}
#dc .will .time{
  font-size: 14px;
  line-height: 0.86rem;
  height:0.86rem;
  color:#df924d;
  padding: 0 0 0 0.4rem ;
}
#dc .default.expire .ticket p{
  color:#999;
}
#dc .default.expire .use button.toUse{
  background-color: #333;
}

/* END discount coupon */

/* lock */
#lock{
  background-color: #ebebeb;
  padding-top:1.3rem;
  padding-bottom: 1.7rem;
}
#lock .title-bar{
  background-color: #df4d4d;
}
#lock .title-bar .titleBar-btn{
  background-image: url(../images/back_w.png);
}
#lock .title-bar h1{
  color:#fff;
}
#lock .doLock h2{
  font-weight: normal;
  font-size: 0.54rem;
  color:#666;
  text-align: center;
  line-height: 1.4rem;
  padding:0.3rem 0 0;
}
#lock .doLock .hint{
  font-size: 0.3rem;
  line-height: 0.8rem;
  padding:0 0 0.3rem;
  text-align: center;
  color:#ababab;
}
#lock .doLock .mui-icon.mui-icon-eye{
  display: none;
}
#lock .doLock form{
  margin:0 0.6rem;
  padding:0 0.6rem;
  border-radius: 8px;
  border:none;
}
#lock .doLock form .mui-input-row,
#lock .doLock form .mui-input-row input{
  padding:0;
  height:1.3rem;
  font-size: 0.5rem;
  line-height: 1.3rem;
}
#lock .doLock .mui-input-group .mui-input-row:after{
  left:0;
}
#lock .doLock .getVerify{
  position: absolute;
  top:0.2rem;
  right:0;
  width:auto;
  font-size: 0.48rem;
  height:0.9rem;
  padding:0 0.3rem;
  color:#df4d4d;
  border-color:#df4d4d;
}
#lock .doLock .countDown{
  position: absolute;
  top:0.2rem;
  right:0;
  width:auto;
  font-size: 0.48rem;
  line-height: 0.9rem;
  height:0.9rem;
  padding:0 0.3rem;
  color:#fff;
  border:none;
  background-color: #e1e1e1;
  
}
#lock .doLock .btn-box{
  margin:0.4rem 0.6rem 0;
}
#lock .doLock .btn{
  width:4.65rem;
  font-size: 0.46rem;
  line-height: 1.16rem;
  padding:0;
  color:#fff;
  background-color: #c7c7c7;
  border:none;
}
#lock .doLock .btn.on{
  background-color:#df4d4d;
}
/* END lock */


/* bindPhone */
#bindP{
  background-color: #ebebeb;
  padding-top:1.3rem;
  padding-bottom: 1.7rem;
}
#bindP .title-bar{
  background-color: #df4d4d;
}
#bindP .title-bar .titleBar-btn{
  background-image: url(../images/back_w.png);
}
#bindP .title-bar h1{
  color:#fff;
}
#bindP .bind h2{
  font-weight: normal;
  font-size: 0.54rem;
  color:#666;
  text-align: center;
  line-height: 1.4rem;
  padding:0.3rem 0 0;
}
#bindP .bind .mui-icon.mui-icon-eye{
  display: none;
}
#bindP .bind form{
  margin:0 0.6rem;
  padding:0 0.6rem;
  border-radius: 8px;
  border:none;
}
#bindP .bind form .mui-input-row,
#bindP .bind form .mui-input-row input{
  padding:0;
  height:1.3rem;
  font-size: 0.5rem;
  line-height: 1.3rem;
}
#bindP .bind .mui-input-group .mui-input-row:after{
  left:0;
}
#bindP .bind .getVerify{
  position: absolute;
  top:0.2rem;
  right:0;
  width:auto;
  font-size: 0.48rem;
  height:0.9rem;
  padding:0 0.3rem;
  color:#df4d4d;
  border-color:#df4d4d;
}
#bindP .bind .countDown{
  position: absolute;
  top:0.2rem;
  right:0;
  width:auto;
  font-size: 0.48rem;
  line-height: 0.9rem;
  height:0.9rem;
  padding:0 0.3rem;
  color:#fff;
  border:none;
  background-color: #e1e1e1;
  
}
#bindP .bind .btn-box{
  margin:0.4rem 0.6rem 0;
}
#bindP .bind .bind-btn{
  width:100%;
  font-size: 0.46rem;
  line-height: 1.16rem;
  padding:0;
  color:#fff;
  background-color: #c7c7c7;
  border:none;
}
#bindP .bind .bind-btn.on{
  background-color:#df4d4d;
}

#bindP .change img{
  width:5.07rem;
  margin:2rem auto 0;
  display: block;
}
#bindP .change p{
  font-size: 0.46rem;
  line-height: 1.2rem;
  text-align: center;
  padding-bottom: 1.7rem;
}
#bindP .change .btn-box{
  margin:0 0.6rem;
}
#bindP .change .btn{
  border:none;
  font-size: 0.44rem;
  line-height: 1.2rem;
  height: 1.2rem;
  padding:0;
  margin:0;
  color:#fff;
  background-color:#df4d4d;
}
/* END bindPhone */
/* mAddr */
#mAddr{
  background-color: #ebebeb;
  padding-top:1.3rem;
  padding-bottom: 1.7rem;
}
#mAddr .title-bar{
  background-color: #df4d4d;
}
#mAddr .title-bar .titleBar-btn{
  background-image: url(../images/back_w.png);
}
#mAddr .title-bar h1{
  color:#fff;
}
#mAddr .list li{
  border-bottom:0.3rem solid #ebebeb;
  padding:0.5rem 0 0;
}
#mAddr .list .operate{
  border-top:1px solid #e1e1e1;
}
#mAddr .list .info{
  padding:0 0.4rem;
  font-size: 0.44rem;
  line-height: 0.7rem;
}
#mAddr .list .addr{
  font-size: 0.34rem;
  line-height: 0.6rem;
  padding:0 0.4rem 0.1rem; 
}
#mAddr .list .operate{
  padding:0.3rem 0.4rem; 
  font-size: 0.32rem;
  line-height: 0.36rem;
}
#mAddr .list .default{
  padding-left:0.46rem;
  background-image: url(../images/personal/default.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
}
#mAddr .list .default.on{
  background-image: url(../images/personal/default_on.png);
}
#mAddr .list .del,
#mAddr .list .edit,
#mAddr .mui-icon{
  font-size:0.32rem;
  vertical-align: middle;
  line-height: 0.36rem;
}
#mAddr .list .edit{
  padding-right:0.4rem;
}
#mAddr .mui-icon-compose:before,
#mAddr .mui-icon-trash:before{
  font-size:0.32rem;
  vertical-align: middle;
  line-height: 0.36rem;
}
#mAddr .add{
  position: fixed;
  border:none;
  color:#fff;
  background-color: #df4d4d;
  font-size: 0.44rem;
  height:1.2rem;
  margin:0 5%;
  padding:0;
  width:90%;
  bottom:0.5rem;
  border-radius: 0.6rem;
  
}

/* END mAddr*/


/* manage */
#manage{
  background-color: #ebebeb;
  padding-top:1.3rem;
}
#manage .title-bar{
  background-color: #df4d4d;
}
#manage .title-bar .titleBar-btn{
  background-image: url(../images/back_w.png);
}
#manage .title-bar h1{
  color:#fff;
}
#manage .user{
  padding:0.5rem;
  background-color:#fff;
  margin-bottom: 0.3rem;
}
#manage .user .view{
  width:1.96rem;
}
#manage .user .view img {
  width:1.96rem;
}
#manage .user .info{
  vertical-align: middle;
  height:1.96rem;
}
#manage .user .info{
  padding-left:0.3rem;
}
#manage .user .info .name{
  font-size: 0.5rem;
  line-height: 0.8rem;
  color:#333;
  margin:0;
  padding:0;
}
#manage .user .info .code{
  font-size: 0.34rem;
  line-break: 0.6rem;
  margin:0;
  padding:0;
  color:#999;
}
#manage .list li{
  border-bottom: 1px solid #ebebeb;
}
#manage .list a{
  font-size: 0.5rem;
  line-height: 1.4rem;
}

/* END manage */


/* QR_Code */
#qr_code{
  background-image:url(../images/QRCode_bg.jpg) ;
  background-size: 100% 100%;
  height:100%;
  background-color: inherit;
  width:100%;
  display: table;
  vertical-align: middle;
}
#qr_code .title-bar{
  background-color: inherit;
}
#qr_code .title-bar .titleBar-btn{
  background-image: url(../images/back_w.png);
}
#qr_code .title-bar h1{
  color:#fff;
}
#qr_code .main{
  display: table-cell;
  vertical-align: middle;
}
#qr_code .main .box{
  padding:0.5rem;
  background-color: #fff;
  width:10.1rem;
  height: auto;
  margin:0 auto;
  border-radius: 8px;
  overflow: hidden;
}
#qr_code .user>img{
  width:1.96rem;
  vertical-align: middle;
}
#qr_code .user .name{
  padding-left:0.25rem;
  display: inline-block;
  vertical-align: middle;
}
#qr_code .user .name .key{
  font-size: 0.5rem;
  line-height: 0.8rem;
  color:#333;
  padding: 0;
  margin:0;
}
#qr_code .user .name .value{
  font-size: 0.36rem;
  line-height: 0.6rem;
  color:#999;
  padding: 0;
  margin:0;
}
#qr_code .view{
  display: block;
  width:6.06rem;
  margin:0 auto;
  padding:1rem 0;
}
#qr_code .btn{
  padding-bottom: 0.9rem;
}
#qr_code .save,
#qr_code .share{
  padding:0 0.9rem;
  margin:0;
  font-size: 0.46rem;
  line-height: 0.8rem;
  height: 0.8rem;
  color:#fff;
  background-image: url(../images/qr_code_btn.png);
  background-size:100% 100%;
  border:none;
  border-radius: 0.4rem;
}
#qr_code .save{
  margin-right: 1rem;
}


/* END QR_Code */


/* account */
#account{
  background-color:#fff ;
}
#account .title-bar{
  background-color: #e8bc67;
}
#account .title-bar .titleBar-btn{
  background-image: url(../images/back_w.png);
}
#account .title-bar h1{
  color:#fff;
}
#account .main{
  background-color: inherit;
  padding-bottom: 2rem;
}
#account .header{
  background-color: #e8bc67;
  padding: 0.5rem 0 0.44rem;
}
#account .header .key,
#account .header .value{
  padding-left:0.5rem;
  color:#fff;
}
#account .header .key{
  font-size: 0.5rem;
  height:0.8rem;
  line-height:0.8rem;
}
#account .header .value{
  font-size: 0.64rem;
  height:1.1rem;
  line-height: 1.1rem;
}
#account .header .makeMoney{
  color:#fff;
  display: block;
  width:2.14rem;
  height:0.75rem;
  background-color:#eece92;
  font-size: 0.36rem;
  line-height: 0.75rem;
  padding-left:0.68rem;
  border-radius:0.375rem 0 0 0.375rem;
  background-image: url(../images/account/makeMoney.png);
  background-repeat: no-repeat;
  background-position: 0.24rem top ;
  background-size:auto 100%;
  margin-top:0.7rem;
}

#account .options{
  background-color:#fff;
  padding:0.38rem 0 0.2rem;
}
#account .options .unit{
  width:20%;
}
#account .options .unit img{
  width:0.86rem;
  margin:0 auto;
}
#account .options .unit p{
  font-size: 0.34rem;
  line-height: 0.86rem;
  margin:0;
  color:#666;
}
#account .consume{
  border-top: 0.3rem solid #ebebeb;
}
#account .consume .unit{
  padding:0;
  border-bottom: 0.3rem solid #ebebeb;
}
#account .consume .unit .line{
  padding:0.3rem 0.4rem;
}
#account .consume .top .storeName{
  font-size: 0.4rem;
  line-height: 0.4rem;
  padding-left:0.6rem;
  background:url(../images/account/icon_bag.png) no-repeat left center;
  background-size: auto 100%;
  height:0.4rem;
  color:#333;
}
#account .consume .top .storeName span{
  color:#d2d2d2;
}
#account .consume .top .stat{
  font-size: 0.4rem;
  line-height: 0.4rem;
  color:#bdac8e;
}
#account .consume .mid{
  background-color: #f3f3f3;
}
#account .consume .mid .table-row{
  display: table-row;
}
#account .consume .mid .view{
  width:3.1rem;
  vertical-align: middle;
}
#account .consume .mid .view img{
  margin:0.4rem;
  width:2.3rem;
  vertical-align: middle;
}
#account .consume .mid .trade{
  vertical-align: middle;
}
#account .consume .mid .trade .name{
  font-size: 0.4rem;
  line-height: 0.52rem;
  font-weight: normal;
  color:#333;
}
#account .consume .mid .trade .style{
  font-size: 0.4rem;
  color:#ccc;
}
#account .consume .mid .count{
  vertical-align: middle;
  text-align: right;
  width:2.3rem;
}
#account .consume .mid .count .price{
  font-size: 0.3rem;
  color:#333;
  margin-right:0.4rem;
}
#account .consume .mid .count .num{
  font-size: 0.3rem;
  color:#999;
  margin-right:0.4rem;
}
#account .consume .sum{
  padding:0 0.4rem;
  font-size:0.4rem;
  line-height: 1rem;
  height: 1rem;
  border-bottom: 1px solid #dcdada;
}
#account .consume .operate .btn{
  font-size: 0.36rem;
  line-height: 0.8rem;
  border-radius: 0.4rem;
  padding:0 0.3rem;
  margin-left:0.3rem;
  color:#535353;
  border-color:#cecece;
}
#account .consume .operate .btn.done{
  color:#a28754;
  border-color:#a28754;
}

#account .transfer .month{
  background-color:#ebebeb;
  padding:0.3rem 0.5rem;
}
#account .transfer .month h4{
  margin:0;
  font-size: 0.5rem;
  line-height: 0.6rem;
  font-weight: bold;
}
#account .transfer .month>span{
  font-size:0.34rem;
  color:#999;
}
#account .transfer .details,
#account .redPacket .details{
  padding:0 0.5rem;
}
#account .transfer .details .table,
#account .redPacket .details .table{
  border-bottom: 1px solid #ccc;
  padding:0.5rem 0 0.1rem;
}
#account .transfer .details .d-row,
#account .redPacket .details .d-row{
  display: table-row;
}
#account .transfer .details .key,
#account .redPacket .details .key{
  vertical-align: middle;
}
#account .transfer .details .key h5,
#account .redPacket .details .key h5{
  color:#333;
  font-size: 0.46rem;
  line-height: 0.8rem;
}
#account .transfer .details .key p,
#account .redPacket .details .key p{
  font-size: 0.26rem;
  line-height: 0.6rem;
  color:#999;
}
#account .transfer .details .value,
#account .redPacket .details .value{
  vertical-align: middle;
  font-size: 0.4rem;
}
#account .transfer .details .value.out,
#account .redPacket .details .value.out{
  color:#000;
}
#account .transfer .details .value.in{
  color:#e7b963;
}
#account .redPacket .details .value.in{
  color:#d30000;
}



/* END account */



/* personal */
#personal{
  background-color: #ebebeb;
}

#personal .header{
  background:url(../images/personal/header.png) #fff no-repeat center;
  background-size: 140% 100%;
  padding-top:0.73rem;
  padding-bottom: 0.9rem;
}
#personal .header .portrait{
  display: block;
  width:2rem;
  border-radius: 50%;
  border:0.01rem solid #fff;
  margin:0 auto ;
  overflow: hidden;
}

#personal .header .name-group{
	padding-bottom: 0.53rem;
}
#personal .header .name{
  font-size:0.5rem;
  line-height:0.5rem;
  color:#604c47;
}
#personal .header .level{
  height:0.55rem;
  vertical-align: bottom;
}


#personal .progress-group{
	width:5.02rem;
	display: inline-block;
	vertical-align: bottom;
}

#personal .progress-group p{
  font-size: 0.3rem;
	width:5.02rem;
	display: inline-block;
	vertical-align: bottom;
	color:#666;
	margin-bottom: 0.3rem;
}
#personal .progress-group p mark{
  color:#604c47;
  background:inherit;
}


#personal .progress-group .base{
	position: relative;
	width:5.02rem;
	height:8px;
	border-radius: 4px;
	background-color: #604c47;
}
#personal .progress-group .base .line{
	position: absolute;
	top:1px;
	left:1px;
	width:3rem;
	height:6px;
	border-radius: 4px;
	background-color: #feebb5;
}


#personal .promote{
	font-size: 12px;
	line-height: 16px;
	display: inline-block;
	height: 16px;
	padding: 0 0.2rem;
	vertical-align: bottom;
	border: none;
	background-color: #c1281b;
	color:#fff;
	border-radius: 4px;
	overflow: hidden;
	margin-left: 0.23rem;
}
#personal .promote small{
	font-size: 12px;
}

#personal .main{
  padding:0 0.4rem;
  background:#fff;
}

#personal .indent{
  
}
#personal .indent .title{
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 0.34rem;
}

#personal .indent .myIndent{
  font-size: 0.44rem;
  line-height: 0.74rem;
}
#personal .indent .more{
  font-size: 0.34rem;
  line-height: 0.74rem;
  color:#c0c0c0;
}

#personal .indent .options{
  width:100%;
  padding-top:0.54rem;
  padding-bottom:0.5rem;
}
#personal .indent .options .unit{
  width:20%;
}
#personal .indent .options .unit .img{
  position: relative;
  width:0.86rem;
  margin:0 auto;
}
#personal .indent .options .unit .img img{
  width:100%;
  margin:0 auto;
}
#personal .indent .options .unit .img .badge{
  position: absolute;
  right:-9px;
  top:-9px;
}
#personal .indent .options .unit p{
  color:#323232;
  font-size: 0.3rem;
  line-height: 0.9rem;
}

#personal .list{
  margin-top:0.3rem;
  margin-bottom: 1.94rem;
}
#personal .list li{
  font-size: 0.46rem;
  line-height: 0.54rem;
}

#personal .list li img{
  width:0.54rem;
  height:0.54rem;
  vertical-align: middle;
}
#personal .list li .name{
  position: relative;
  display: inline-block;
  padding:0.4rem 0 0.4rem 0.2rem;
}
#personal .list li .name .red-dot{
  display: inline-block;
  width:6px;
  height:6px;
  background:#f00;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: top;
  margin-left: 2px;
}



/* END personal */


/* level */
#level{
  background-color: #fff;
}
#level .title-bar{
  background-color: #fff;
}

#level .main{
  padding:1.3rem 0 0.3rem;
  background-color: #fff;
}
#level .main h2{
  padding-left:0.46rem;
  font-size:0.68rem;
  color:#6a3d16;
  line-height: 0.92rem;
}
#level .main h2 img{
  height:0.92rem;
  vertical-align: middle;
  padding-left:0.2rem;
}

#level .promote{
  margin:0 auto;
  width:11.75rem;
  background-color: #fffdf5;
  border:1px solid #faf1e1;
  border-radius: 36px;
  padding-bottom: 0.3rem;
  overflow: hidden;
}

#level .promote .title{
  padding-top:0.3rem;
}
#level .promote .title p{
  font-size: 0.35rem;
  line-height: 0.5rem;
  color:#7d623d;
  height:0.5rem;
  padding-left:0.5rem;
}
#level .promote .title a{
  color:#fff;
  display: block;
  width:0.5rem;
  height:0.5rem;
  background:#e4d0af;
  line-height: 0.5rem;
  border-radius: 50%;
  overflow:hidden;
  margin:0;
  padding:0;
  font-size: 0.35rem;
  text-align: center;
  margin-right: 0.5rem;
}

#level .dirgram{
  position: relative;
  margin:0 0.3rem;
  padding-top:0.6rem;
  padding-bottom: 0.8rem;;
}
#level .dirgram .line{
  width:100%;
  background:#eedbba;
  height:0.12rem;
  top:0.8rem;
  left:0;
  position: absolute;
  z-index: 1;
}
#level .dirgram .unit{
  position: relative;
  z-index: 2;
  width:11.11%;
  min-width:0.9rem;
}
#level .dirgram .unit img{
  display: block;
  width:0.82rem;
  margin:0 auto;
}
#level .dirgram .unit span{
  display: block;
  font-size: 0.3rem;
  padding-top:0.26rem;
  text-align: center;
}
#level .lv1{color:#ffe2d6;}
#level .lv2{color:#ffdcbd;}
#level .lv3{color:#ffdda3;}
#level .lv4{color:#ffad8a;}
#level .lv5{color:#ff9b70;}
#level .lv6{color:#ff773d;}
#level .lv7{color:#ff6524;}
#level .lv8{color:#ff540a;}
#level .lv9{color:#ff4d00;}

#level .detail{
  background-color:#fff6e0;
  padding:0.3rem 0.34rem 0.35rem;
}
#level .detail table{
  font-size: 0.23rem;
  text-align: center;
  border-collapse: collapse;
  border:1px solid #e1e1e1;
}
#level .detail table th{
  color:#333;
  line-height: 0.85rem;
  border:1px solid #e1e1e1;
}
#level .detail table td{
  color:#666;
  line-height: 0.85rem;
  border:1px solid #e1e1e1;
}

#level .daily{
  border-top:0.3rem solid #ebebeb;
}
#level .daily h3{
  font-size: 0.56rem;
  line-height: 1.04rem;
  padding-top:0.4rem;
  text-align: center;
  color:#6a3d16;
}

#level .mui-table-view:before,#level .mui-table-view:after{
  height:0;
}
#level .daily ul{
  border:none;
}
#level .daily ul .unit{
  padding-top:0.6rem;
  padding-left: 1.1rem;
  border-bottom: 1px solid #ccc;
}
#level .daily ul h4{
  font-size: 0.4rem;
  line-height: 0.7rem;
}
#level .daily ul span{
  font-size: 0.3rem;
  line-height: 0.5rem;
  color:#bc6a24;
}

#level .daily ul .unit a{
	font-size: 0.36rem;
	line-height: 0.94rem;
	padding:0rem 0.38rem;
	border:none;
	background-color:#ffcf17;
	color:#6a3d16;
}
/* todo  */
#level .mui-popover .mui-popover-arrow:after{
  display: none;
}
#level .rights{
  background-color:#fffdf5;
  margin:0 1.5rem;
  height: 1.5rem;
}

/* END level */


/* record */
#record{
  background-color: #f4e8ba;
}
#record .title-bar{
  background-color: #f4e8ba;
}
#record .main{
  position: relative;
  background-color: #fffdf5;
  margin-top:1.8rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;;
  border-radius: 30px;
  min-height: 16rem;
}
#record .title{
  position: relative;
  background-image: url(../images/record.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width:5.22rem;
  font-size: 0.56rem;
  line-height: 1.2rem;
  padding-bottom: 0.23rem;
  height:1.43rem;
  text-align: center;
  left:-0.33rem;
  top:0.7rem;
}

#record .mui-table-view:before, 
#record .mui-table-view:after,
#record .mui-table-view-cell:after{
  height:0;
}

#record .table{
  padding-top:1.2rem;
  padding-bottom: 30px;
}
#record .unit{
  display: table-row;
}
#record .info{
  
  vertical-align: middle;
  padding:0.3rem 0 0.3rem 0.36rem;
}
#record .point{
  display: inline-block;
  width:0.36rem;
  height:0.36rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ffcf17;
  margin-right: 0.36rem;
  vertical-align: middle;
}
#record .time{
  font-size: 0.46rem;
  line-height: 0.8rem;
}
#record .details{
  padding-left: 0.72rem;
  font-size: 0.46rem;
  line-height: 0.8rem;
  color:#494948;
}
#record .value{
  vertical-align: middle;
  padding-right: 0.7rem;
  width:4rem;
  font-size: 0.46rem;
  color:#f62a2a;
}

#record .user{
  color:#693810;
}
/* END record */

/* articleList */
#aList {
  background-color: #ebebeb;
}
#aList .title-bar{
  background-color: #df4d4d;
}
#aList .title-bar h1{
  color:#fff;
}
#aList .title-bar .titleBar-btn{
  background-image: url(../images/back_w.png);
}
#aList .main{
  padding:0.26rem 0.43rem;
}
#aList .list{
  background-color:inherit;
}
#aList .list .unit{
  padding:0.4rem 0.36rem 0.3rem;
  border-bottom: 1px solid #cbcbcb;
}
#aList .title{
  font-size: 0.46rem;
  font-weight: normal;
  color:#1f1f1f;
  line-height: 0.46rem;
  height: 0.46rem;
  padding-bottom: 0.3rem;
}
#aList .list .intro{
  font-size:0.34rem;
  line-height: 0.46rem;
  color:#878787;
  padding-bottom: 0.3rem;
}
#aList .list .time{
  font-size: 0.28rem;
  color:#ababab;
}
#aList .list .lev{
  font-size: 0.28rem;
  color:#ababab;
}
#aList .list .lev .star{
  display: inline-block;
  width:1.35rem;
}
#aList .list .lev img{
  height:0.28rem;
  width:0.27rem;
}
#aList .pagination a{
  border:none;
  background-color: inherit;
  color:#a0a0a0;
  font-size: 0.34rem;
}
#aList .mui-pagination>li.mui-active>a{
  color:#df4d4d;
  
}
#aList .pagination a img{
  height:0.34rem;
}

/* END articleList */

/* articleContent */
#aContent {
  background-color: #ebebeb;
}
#aContent .title-bar{
  background-color: #df4d4d;
}
#aContent .title-bar h1{
  font-size: 0.52rem;
  line-height: 1.3rem;
  color:#fff;
}
#aContent .title-bar .titleBar-btn{
  background-image: url(../images/back_w.png);
}
#aContent .title-bar .titleBar-more{
  width:0.72rem;
  height:0.62rem;
  background-image: url(../images/more.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin:0.34rem 0;
}
#aContent .main{
  padding:0.4rem 0.7rem;
}
#aContent .main h1{
  font-size: 0.68rem;
  line-height: 1rem;
  font-weight: normal;
  color:#040404;
}
#aContent .title,
#aContent .lev{
  color:#999;
  font-size: 0.3rem;
  line-height: 0.6rem;
}
#aContent .title{
  padding-right: 1.5rem;
}
#aContent .star{
  display: inline-block;
}
#aContent .star img{
  width:0.29rem;
  height:0.27rem;
}
#aContent .content{
  padding-top:0.2rem;
  border-bottom: 1px solid #cecece;
}
#aContent .content p{
  text-indent: 2em;
  font-size: 0.46rem;
  line-height: 0.72rem;
}
#aContent .content img{
  width:9.12rem;
  margin: 0 auto;
  display: block;
  padding-bottom: 0.3rem;
}
#aContent .share{
  text-align: center;
  width:8.2rem;
  height:1.36rem;
  background-image: url(../images/article/share.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin:0.46rem auto 0.56rem;
}
#aContent .share a{
  color:#fff;
  font-size: 0.46rem;
  line-height: 1.36rem;
  height: 1.6rem;
  
}
/* END articleContent */
/*
   
  
  

 * */