/* reset */

/* END reset*/
/* layout */
body{
  font-family: "microsoft yahei";
}

/* END layout */

/* common */
.title-bar{
  height:1rem;
  background-color: #fff;
  box-shadow: none;
}
.title-bar .titleBar-btn{
  width:0.34rem;
  height:0.62rem;
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin:0.19rem 0;
}

.option-bar img{
  width:0.62rem;
  display: block;
  margin:0 auto;
}
.option-bar span{
  font-size:0.3rem;
  color:#a2a2a2;
}
.option-bar.mui-bar-tab .mui-tab-item {
  color: #a2a2a2;
}

.option-bar.mui-bar-tab .mui-tab-item.mui-active{
  color:#604c47;
}

.mui-bar-nav~.mui-content{
  padding-top:1rem;
}
/* END common */

/* personal */
#personal{
  background-color: #ebebeb;
}

#personal .header{
  background:url(../images/personal/header.png) #fff no-repeat center;
  background-size: 140% 100%;
  padding-top:0.73rem;
  padding-bottom: 0.9rem;
}
#personal .header .portrait{
  display: block;
  width:2rem;
  border-radius: 50%;
  border:0.01rem solid #fff;
  margin:0 auto ;
  overflow: hidden;
}

#personal .header .name-group{
	padding-bottom: 0.53rem;
}
#personal .header .name{
  font-size:0.5rem;
  line-height:0.5rem;
  color:#604c47;
}
#personal .header .level{
  height:0.55rem;
  vertical-align: bottom;
}


#personal .progress-group{
	width:5.02rem;
	display: inline-block;
	vertical-align: bottom;
}

#personal .progress-group p{
  font-size: 0.3rem;
	width:5.02rem;
	display: inline-block;
	vertical-align: bottom;
	color:#666;
	margin-bottom: 0.3rem;
}
#personal .progress-group p mark{
  color:#604c47;
  background:inherit;
}


#personal .progress-group .base{
	position: relative;
	width:5.02rem;
	height:8px;
	border-radius: 4px;
	background-color: #604c47;
}
#personal .progress-group .base .line{
	position: absolute;
	top:1px;
	left:1px;
	width:3rem;
	height:6px;
	border-radius: 4px;
	background-color: #feebb5;
}


#personal .promote{
	font-size: 12px;
	line-height: 16px;
	display: inline-block;
	height: 16px;
	padding: 0 0.2rem;
	vertical-align: bottom;
	border: none;
	background-color: #c1281b;
	color:#fff;
	border-radius: 4px;
	overflow: hidden;
	margin-left: 0.23rem;
}
#personal .promote small{
	font-size: 12px;
}

#personal .main{
  padding:0 0.4rem;
  background:#fff;
}

#personal .indent{
  
}
#personal .indent .title{
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 0.34rem;
}

#personal .indent .myIndent{
  font-size: 0.44rem;
  line-height: 0.74rem;
}
#personal .indent .more{
  font-size: 0.34rem;
  line-height: 0.74rem;
  color:#c0c0c0;
}

#personal .indent .options{
  width:100%;
  padding-top:0.54rem;
  padding-bottom:0.5rem;
}
#personal .indent .options .unit{
  width:20%;
}
#personal .indent .options .unit .img{
  position: relative;
  width:0.86rem;
  margin:0 auto;
}
#personal .indent .options .unit .img img{
  width:100%;
  margin:0 auto;
}
#personal .indent .options .unit .img .badge{
  position: absolute;
  right:-9px;
  top:-9px;
}
#personal .indent .options .unit p{
  color:#323232;
  font-size: 0.3rem;
  line-height: 0.9rem;
}

#personal .list{
  margin-top:0.3rem;
  margin-bottom: 1.94rem;
}
#personal .list li{
  font-size: 0.46rem;
  line-height: 0.54rem;
}

#personal .list li img{
  width:0.54rem;
  height:0.54rem;
  vertical-align: middle;
}
#personal .list li .name{
  position: relative;
  display: inline-block;
  padding:0.4rem 0 0.4rem 0.2rem;
}
#personal .list li .name .red-dot{
  display: inline-block;
  width:6px;
  height:6px;
  background:#f00;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: top;
  margin-left: 2px;
}



/* END personal */


/* level */
#level .main{
  padding:0.2rem 0 0.3rem;
  background-color: #fff;
}
#level .main h2{
  padding-left:0.46rem;
  font-size:0.68rem;
  color:#6a3d16;
  line-height: 0.92rem;
}
#level .main h2 img{
  height:0.92rem;
  vertical-align: middle;
  padding-left:0.2rem;
}

#level .promote{
  margin:0 auto;
  width:11.75rem;
  background-color: #fffdf5;
  border:1px solid #faf1e1;
  border-radius: 36px;
  padding-bottom: 0.3rem;
  overflow: hidden;
}

#level .promote .title{
  padding-top:0.3rem;
}
#level .promote .title p{
  font-size: 0.35rem;
  line-height: 0.5rem;
  color:#7d623d;
  height:0.5rem;
  padding-left:0.5rem;
}
#level .promote .title a{
  color:#fff;
  display: block;
  width:0.5rem;
  height:0.5rem;
  background:#e4d0af;
  line-height: 0.5rem;
  border-radius: 50%;
  overflow:hidden;
  margin:0;
  padding:0;
  font-size: 0.35rem;
  text-align: center;
  margin-right: 0.5rem;
}

#level .dirgram{
  position: relative;
  margin:0 0.3rem;
  padding-top:0.6rem;
  padding-bottom: 0.8rem;;
}
#level .dirgram .line{
  width:100%;
  background:#eedbba;
  height:0.12rem;
  top:0.8rem;
  left:0;
  position: absolute;
  z-index: 1;
}
#level .dirgram .unit{
  position: relative;
  z-index: 2;
  width:11.11%;
  min-width:0.9rem;
}
#level .dirgram .unit img{
  display: block;
  width:0.82rem;
  margin:0 auto;
}
#level .dirgram .unit span{
  display: block;
  font-size: 0.3rem;
  padding-top:0.26rem;
  text-align: center;
}
#level .lv1{color:#ffe2d6;}
#level .lv2{color:#ffdcbd;}
#level .lv3{color:#ffdda3;}
#level .lv4{color:#ffad8a;}
#level .lv5{color:#ff9b70;}
#level .lv6{color:#ff773d;}
#level .lv7{color:#ff6524;}
#level .lv8{color:#ff540a;}
#level .lv9{color:#ff4d00;}

#level .detail{
  background-color:#fff6e0;
  padding:0.3rem 0.34rem 0.35rem;
}
#level .detail table{
  font-size: 0.23rem;
  text-align: center;
  border-collapse: collapse;
  border:1px solid #e1e1e1;
}
#level .detail table th{
  color:#333;
  line-height: 0.85rem;
  border:1px solid #e1e1e1;
}
#level .detail table td{
  color:#666;
  line-height: 0.85rem;
  border:1px solid #e1e1e1;
}

#level .daily{
  border-top:0.3rem solid #ebebeb;
}
#level .daily h3{
  font-size: 0.56rem;
  line-height: 1.04rem;
  padding-top:0.4rem;
  text-align: center;
  color:#6a3d16;
}

#level .mui-table-view:before{
  height:0;
}
#level .daily ul{
  border:none;
}
#level .daily ul .unit{
  padding-top:0.6rem;
  padding-left: 1.1rem;
  border-bottom: 1px solid #ccc;
}
#level .daily ul h4{
  font-size: 0.4rem;
  line-height: 0.7rem;
}
#level .daily ul span{
  font-size: 0.3rem;
  line-height: 0.5rem;
  color:#bc6a24;
}





/* END level */

/*
   
  
  

 * */